DATABASE_URL="postgresql://postgres:12345678@localhost:5432/tro"
JWT_ACCESS_SECRET="change-me"
JWT_REFRESH_SECRET="change-me-too"
APP_PORT=3001
APP_ORIGIN="http://localhost:3000"
UPLOAD_PROVIDER="s3"
S3_BUCKET="tro-assets"
S3_REGION="ap-southeast-1"
